@model KitchenDesignProject.Areas.Administration.Models.ProductModel

<div id="images" class="form-group">
    @if (Model.Images.Count() > 0)
    {

        <label class="control-label col-md-2"> Images </label>
        <div class="col-md-10">
            @foreach (var image in Model.Images)
            {
                <a href="data:image/png;base64,@Convert.ToBase64String(image.Content, 0, image.Content.Length, Base64FormattingOptions.None)" target="_blank">
                    <img width="80px" height="80px" src="@Url.Action("GetImage", "Image", new { id = image.Id })" alt="" class="img-responsive" />
                </a>

                @Ajax.ActionLink("Remove", "DeleteImage", "Image", new { id = image.Id }, new AjaxOptions
                                                                                         {
                                                                                             Confirm = "Are you sure you want to delete?",
                                                                                             HttpMethod = "GET",
                                                                                             InsertionMode = InsertionMode.Replace,
                                                                                             UpdateTargetId = "images"
                                                                                         });
            }
        </div>

    }
</div>


